{% extends 'base.html' %}

{% block body %}

    <div class="container mt-4">
        <div class="row">
            <div class="col-6">
                <div class="card p-3">
                    <form method="post">
                        {{ form.hidden_tag() }}

                        <div class="mb-3">
                            {{ form.name.label }}
                            {{ form.name }}
                        </div>

                        <div class="mb-3">
                            {{ form.command.label }}
                            {{ form.command }}
                        </div>

                        <div class="mb-3">
                            {{ form.description.label }}
                            {{ form.description }}
                        </div>

                        <div class="mb-3">
                            {{ form.vendor.label }}
                            {{ form.vendor }}
                        </div>

                        <div class="mb-3">
                            {{ form.check_type.label }}
                            {{ form.check_type }}
                        </div>

                        <div class="mb-3">
                            {{ form.check_result.label }}
                            {{ form.check_result }}
                        </div>

                        {% if hc_id == None %}
                            <button type="submit" class="btn btn-success">CREATE HEALTHCHECK</button>
                        {% else %}
                            <button type="submit" class="btn btn-success">EDIT HEALTHCHECK</button>
                        {% endif %}
                        
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock body %}