{% extends 'base.html' %}

{% block body %}

    <div class="container-fluid mt-4">
        <div class="row">

            <div class="col-8">
                <div class="card">
                    <div class="card-header">
                        <h5>LIST OF HEALTH CHECKS</h5>
                        <a class="btn btn-success" href="{{ url_for('health_check_blueprint.run_all_health_checks') }}" class="mt-1">Run all Healthchecks</a>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Vendor</th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for health_check in health_checks %}
                                    <tr>
                                        <th scope="row">{{ loop.index }}</th>
                                        <td>{{ health_check.name }}</td>
                                        <td>{{ health_check.vendor.vendor_name }}</td>
                                        <td><a href="{{ url_for('health_check_blueprint.run_single_healthcheck', healthcheck_id=health_check.id) }}" class="btn btn-success">RUN</a></td>
                                        <td><a href="{{ url_for('health_check_blueprint.delete_healthcheck_view', healthcheck_id=health_check.id) }}" class="btn btn-danger">DELETE</a></td>
                                        <td><a href="{{ url_for('health_check_blueprint.create_health_check_view', healthcheck_id=health_check.id) }}" class="btn btn-warning">EDIT</a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="card">

                    <div class="card-header">
                        PREVIOUS RUNS
                    </div>

                    <div class="card-body">

                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Device</th>
                                    <th scope="col">When Run</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for group in check_groups %}
                                    <tr>
                                        <th scope="row">{{ loop.index }}</th>
                                        <td><a href="{{ url_for('devices_blueprint.view_device', device_id=group.device.id) }}">{{ group.device.alias }}</a></td>
                                        <td>{{ group.timestamp.strftime("%B %d %Y %-I:%M %p") }}</td>
                                        <td><a href="">Details</a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>

                </div>
            </div>

            
        </div>
    </div>

{% endblock body %}

<ul id="check_result">
    <li>
        <label for="check_result-0">Check Result-0</label>
        <table id="check_result-0">
            <tr>
                <th>
                    <label for="check_result-0-name"></label>
                </th>
                <td>
                    <input class="form-control" id="check_result-0-name" name="check_result-0-name" type="text" value="">
                </td>
            </tr>
        </table>
        <input id="check_result-0-csrf_token" name="check_result-0-csrf_token" type="hidden" value="ImU5YTdiN2I3ZGQwNzJkY2VjYTdhZjI4NGFlNDAxOWYxYjYzMzcyZTgi.YtvGsw.MzbFi9MxGM3nk3BgjGMdWkGk2A4">
    </li>
</ul>

{% block js %}
    <script>

    </script>
{% endblock js %}