{% extends 'base.html' %}

{% block body %}

    <div class="container-fluid mt-4">

        <div class="row mb-3">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3>{{ device.alias }}( {{ device.hostname }} )</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-2">

            {# GENERAL DEVICE INFORMATION #}
            <div class="col-lg-6 col-sm-12 mt-2">
                <div class="card">
                    <div class="card-header d-flex">

                        <div class="col-6">
                            <b>Device Information</b>
                        </div>

                        <div class="col-6">
                            <b>Available Health Checks</b>
                        </div>

                    </div>

                    <div class="card-body d-flex">

                        <div class="col-6">
                            <ul class="zero-pad-list" style="padding-left: 0;">
                                <li class="d-flex mb-3">
                                    <div class="col-6"><b>Name</b></div>
                                    <div class="col-6">{{ device.alias }}</div>
                                </li>

                                <li class="d-flex mb-3">
                                    <div class="col-6"><b>Hostname</b></div>
                                    <div class="col-6">{{ device.hostname }}</div>
                                </li>

                                <li class="d-flex mb-3">
                                    <div class="col-6"><b>Username</b></div>
                                    <div class="col-6">{{ device.username }}</div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-6">
                            <a href="{{ url_for('health_check_blueprint.run_device_health_check', device_id=device.id) }}">Run All Device Health Checks</a>

                            <ul class="list-group">
                                {% for health_check in available_checks %}
                                    <li class="list-group-item">{{ health_check.name }} <a class="ms-5" href="">Run Check</a></li>
                                {% endfor %}
                            </ul>
                            <br>
                        </div>

                    </div>

                </div>

                <div class="card mt-3">
                    <div class="card-header">
                        PREVIOUS RUNS
                    </div>
                    <div class="card-body">

                        <table class="table">
                            <thead>
                                <th scope="col">#</th>
                                <th scope="col">Time</th>
                                <th scope="col">Checks Run</th>
                                <th scope="col">Checks Passed</th>
                                <th scope="col">Pass percentage</th>
                            </thead>
                            <tbody>

                                {% for group in device.check_groups %}
                                    <tr>
                                        <th scope="row">{{ loop.index }}</th>
                                        <td>{{ group.timestamp.strftime("%B %d %Y %-I:%M %p") }}</td>
                                        <td>{{ group.successful_checks + group.failed_checks  }}</td>
                                        <td>{{ group.successful_checks }}</td>
                                        <td
                                                {% if group.percentage_success >= 50 %}
                                                    style="color: green;"
                                                {% else %}
                                                    style="color: red;"
                                                {% endif %}
                                        >{{ group.percentage_success }} %</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            {# ALL PREVIOUS DEVICE HEALTH CHECKS #}
            <div class="col-lg-6 col-sm-12 mt-2">

                <div class="card">

                    <div class="card-header d-flex">
                        <div class="col-1"><b>#</b></div>
                        <div class="col-3"><b>Health Check Name</b></div>
                        <div class="col-4"><b>Time</b></div>
                        <div class="col-2"><b>Result</b></div>
                    </div>

                    <ul class="list-group">
                        {% for check in checks %}

                            <li class="list-group-item d-flex">
                                <div class="col-1">{{ loop.index }}</div>
                                <div class="col-3">{{ check.health_check.name }}</div>
                                <div class="col-4">{{ check.time_since_str }} ago.</div>
                                {% if check.is_successful %}
                                    <div class="col-2">
                                        <span class="badge text-bg-success">Success</span>
                                    </div>
                                {% else %}
                                    <div class="col-2">
                                        <span class="badge text-bg-danger">Failed</span>
                                    </div>
                                {% endif %}

                            </li>
                        {% endfor %}
                    </ul>

                </div>
            </div>


        </div>

        <div class="row">
            <div class="col-lg-6 col-sm-12">
{#                <div class="card">#}
{#                    <div class="card-header">#}
{#                        PREVIOUS RUNS#}
{#                    </div>#}
{#                    <div class="card-body">#}
{##}
{#                        <table class="table">#}
{#                            <thead>#}
{#                                <th scope="col">#</th>#}
{#                                <th scope="col">Time</th>#}
{#                                <th scope="col">Checks Run</th>#}
{#                                <th scope="col">Checks Passed</th>#}
{#                                <th scope="col">Pass percentage</th>#}
{#                            </thead>#}
{#                            <tbody>#}
{##}
{#                                {% for group in device.check_groups %}#}
{#                                    <tr>#}
{#                                        <th scope="row">{{ loop.index }}</th>#}
{#                                        <td>{{ group.timestamp.strftime("%B %d %Y %-I:%M %p") }}</td>#}
{#                                        <td>{{ group.successful_checks + group.failed_checks  }}</td>#}
{#                                        <td>{{ group.successful_checks }}</td>#}
{#                                        <td#}
{#                                                {% if group.percentage_success >= 50 %}#}
{#                                                    style="color: green;"#}
{#                                                {% else %}#}
{#                                                    style="color: red;"#}
{#                                                {% endif %}#}
{#                                        >{{ group.percentage_success }} %</td>#}
{#                                    </tr>#}
{#                                {% endfor %}#}
{#                            </tbody>#}
{#                        </table>#}
{#                    </div>#}
{#                </div>#}
            </div>
        </div>

    </div>

{% endblock body %}